body {
    padding:0px;
    margin:0px;
    font-family:Calibri, "Trebuchet MS", Arial, sans-serif;
}
a, img {
    border:none;
    text-decoration:none;
}

/* header starts here */

#header-container {

    width:100%;
    background-color:#73c7e6;
}
#header {
    width:960px;
    height:150px;
    margin:0px auto;
}
#header #logo {
        width:100px;
        float:left;
}
   
#header #info {
    float:right;
}
#info p {
    margin-bottom: -10px;
    color:rgb(78, 8, 110);
}

/* nav starts here */


.nav-container {

    width: 100%;
    background-color: rgb(45, 192, 236);
    overflow: hidden;
}
.nav {
 
    display: flex;
    justify-content: space-evenly;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: xx-large;
    color: coral;
 
}
.nav a:hover {
    background-color: rgb(248, 242, 242);
    color: black;
}

.nav a.active {
    background-color: #6b0f86;
    color: white;
}

/********** slide starts here **********/

#slide-container {
	width:100%;
}
#slide {
	width:960px;
	height:350px;
	margin:30px auto;
	background-color:#F8F8F8;
	border:1px solid #ccc;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
}
	#slide #myPhoto {
		width:500px;
		height:320px;
		float:left;
	}
	#slide #myPhoto img {
	padding:20px 0px 0px 20px;
	}
	#slide #myMessage {
		width:400px;
		height:320px;
		float:right;
	}
	#slide #myMessage h1, h3 {
		color:#6b0f86;
	}



	#slide-container2 {
		width:100%;
	}
	#slide2 {
		width:960px;
		height:450px;
		margin:30px auto;
		background-color:#F8F8F8;
		border:1px solid #ccc;
		-moz-border-radius:5px;
		-webkit-border-radius:5px;
		border-radius:5px;
	}
		#slide2 #myPhoto {
			width:500px;
			height:320px;
			float:right;
		}
		#slide2 #myPhoto img {
		padding:20px 0px 0px 20px;
		}
		#slide2 #myMessage {
			width:400px;
			height:320px;
			float:left;
		}
		#slide2 #myMessage h1, h3 {
			color:#6b0f86;
		}
/********** content starts here **********/

#content-container {
	width:100%;
}
#content {
	width:960px;
	margin:20px auto;
}

	#content h1 {
		color:#6b0f86;
		border-bottom:3px solid #6b0f86;
	}
	#content h3 {
		color:#6b0f86;
	}

	#content #testimonial {
		width:300px;
		float:left;
	}
	#content #quote {
		width:300px;
		float:left;
		margin-left:30px;
	}
	#content #recentProject {
		width:300px;
		float:right;
		margin-left:20px;
	}
	






/********** footer starts here **********/

    
    #footer-container {
        width:100%;
        border-top:1px solid #ccc;
    }
    
    #footer {
        width:960px;
        height:130px;
        margin:0px auto;
    }
    
        #footer #copyright {
        color:#606060;
        float:right;
        width:250px;
        margin-top:30px;
        }
